.App{
  width: 1366px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  /* margin: 2em; */
  align-items: center;
}

.kd {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12em;
  width: 30em;
  margin: 1em;
  border: solid rgb(164, 164, 164) 1px;
}
.butn{
  background-color: bisque;
  height: 5em;
  width: 10em;
}